.header__nav > * {
  margin: 0 20px;
  color: #000000; }
  .header__nav > *:hover {
    color: #000000; }

.header {
  padding: 20px 40px; }

body {
  position: relative;
  min-height: 100vh; }

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

.form {
  width: 75%;
  margin: 50px auto 0; }
  .form > input {
    margin-bottom: 20px; }

.list-group {
  padding-bottom: 20vh; }
